.dropdownMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 30;
    top: 105%;
    left: 0;
    width: 100%;
    max-height: 0px;
    opacity: 0;
    background-color: #fff;
    box-shadow: 10px 24px 24px #0000000F;
    border-radius: 8px;
    visibility: hidden;
    overflow: hidden;
    transition:  visibility 0.3s, max-height 0.3s, opacity 0.3s;
}

.dropdownMenu.open {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    transition:  visibility 0.3s, max-height 0.3s, opacity 0.3s;
}