<a 
    href="{{ path(route) }}"
    class="flex justify-center items-center py-1.5 px-6 text-white text-base font-medium rounded-lg transition-colors {{ alert is same as 'success' ? 'bg-outline hover:bg-outline/90' : 'bg-red-500 hover:bg-red-400' }}">
    {{ content }}
</a>