@import "tailwindcss";



@theme {
  /* colors */
  --color-light : #F9FAFB;
  --color-dark: #050315;
  --color-accent-blue : #433bff;
  --color-accent-dark : #093A3E;
  --color-accent-green : #52DB63;
  --color-accent-dark-green : #2E4B3A;
  --color-accent-salmon: #FF6666;
  /* font families */
  --font-ubuntu : 'Ubuntu', sans-serif;
  --font-cabin : 'Cabin', sans-serif;
  /* max-width */
  --max-width-2xl : 1536px;

  --gradient-light-green : linear-gradient(135deg, var(--color-light) 0%, var(--color-accent-dark-green) 100%);

}