@import "tailwindcss";



@theme {

  /* colors */
  --color-light : #F9FAFB;
  --color-dark: #050315;
  --color-accent-blue : #433bff;
  --color-accent-dark : #093A3E;
  --color-accent-green : #52DB63;
  --color-accent-dark-green : #2E4B3A;
  --color-accent-salmon: #FF6666;

  /* font families */
  --font-ubuntu : 'Ubuntu', sans-serif;
  --font-cabin : 'Cabin', sans-serif;

  /* max-width */
  --max-width-2xl : 1536px;

  /* screen sizes */
  --breakpoint-3xl: 112rem;
  --breakpoint-4xl: 128rem;

  --gradient-light-green : linear-gradient(135deg, var(--color-light) 0%, var(--color-accent-dark-green) 100%);

  /* shadows */
  --shadow-default : 10px 24px 24px #0000000F;
  --height-fullwodbnav : calc(100vh - 66px);


}

@layer utilities {
  .fhwn {
    height: calc(100vh - 88px);
  }
  .maxhwn {
    max-height: calc(100vh - 88px);
  }
}

/* Custom checkbox */
.custom-checkbox {
  min-width: 22px;
  min-height: 22px;
  max-width: 22px;
  max-height: 22px;
  border: 2px solid rgba(249, 250, 251, 0.5);
  border-radius: 5px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
}

.custom-checkbox.checked {
  border: 2px solid var(--color-accent-dark-green); 
  background-color: var(--color-accent-dark-green); 
  border-color: var(--color-accent-dark-green);
  transition: all 0.1s;
}

.custom-checkbox.checked::after {
  content: ''; 
  position: absolute; 
  left: 50%; 
  top: 40%; 
  width: 7.5px; 
  height: 14.5px; 
  border: solid var(--color-light);
  border-width: 0 3px 3px 0;
  border-radius: 0 1px 1px 1px;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Remove autocomplete color for inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill {
  background-color: rgba(249, 250, 251, 0) !important;
  color: inherit !important;
}
